<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CRUD (Create, Read, Update, Delete)</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="container-fluid">
    <div class="">
      <h1>JSON CRUD (Create, Read, Update, Delete)</h1>
    </div>
    <div class="">
      <a href="/add"><button class="btn-blue">Create</button></a>
    </div>
    <div class="">
      <table class="table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Birth Date</th>
            <th>Is Merried</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{userTable}}
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>